{% assign list = site.projects | sort: 'date' | reverse %}

  {% for project in list %}
    <article class='w-100 w-70-m w-50-ns flex flex-row flex-wrap items-start ws-normal project-item' data-index={{ forloop.index0 }} alt='{{ project.title }}' title='{{ project.title }}' >
      <!-- <div class='w-100 h-100 top-0 left-0 project-image project-image-container absolute' style='background-image: url({{project.permalink}}/1.jpg)' ></div> -->
      
      <div class='top-0 left-0 w-100 project-image-container absolute' data-index={{ forloop.index0 }}>
        {% assign images = project.images %}
        {% for image in images %}
          <img class='w-30 top-0 left-0 project-image absolute texture' src='{{project.permalink}}/{{image}}.jpg' />
        
        <!-- <div class='w-100 h-100 top-0 left-0 project-image absolute' style='background-image: url({{project.permalink}}/{{image}}.jpg)' > -->
        <!-- </div> -->
      {% endfor %}
      </div>
      <div>
        <span class='f2 f2-m f1-ns fw5 ma0 pointer project-title'>{{project.title}}</span>
      </div>
      <div class='w-50 dn more bottom-1 right-0'>
        <div class='w-100 ph3'>
          <div class='w-100 flex flex-row'>
            <div class='w-20'>
              <p>Description</p>
            </div>
            <div class='w-80'>
              <p>{{project.description}}</p>
            </div>
          </div>
          <div class='w-100 flex flex-row'>
            <div class='w-20'>
              <p>Stack</p>
            </div>
            <div class='w-80'>
              <p>{% for item in project.stack %}{{ item }}<br/> {% endfor %}</p>
            </div>
          </div>
          
          <div class='w-100 flex flex-row'>
            <div class='w-20'>
              <p>Deliverables</p>
            </div>
            <div class='w-80'>
              <p>{% for item in project.delivery %}{{ item }}<br/> {% endfor %}</p>
            </div>
          </div>
        
          <div class='w-100 flex flex-row'>
            <div class='w-20'>
              <p>Links</p>
            </div>
            <div class='w-80'>
              <p>{% for item in project.links %}<a class='link green' target='_blank' href={{item}}>{{ item }}</a><br/> {% endfor %}</p>
            </div>
          </div>
        </div>
      </div>
    </article>
    
  {% endfor %}
</div>

