{% assign list = site.projects | sort: 'date' | reverse %}
<div class='w-100 flex flex-column'>
  <article class='w-100 flex flex-row items-center bb bw1' alt='{{ project.title }}' title='{{ project.title }}' >
    <div class='w-40'>
      <p>Title</p>
    </div>
    <div class='w-20'>
      <p>Description</p>
    </div>
    <div class='w-10'>
      <p>Date</p>
    </div>
    <div class='w-10'>
      <p>Stack</p>
    </div>
    <div class='w-10'>
      <p>Deliverables</p>
    </div>
    <div class='w-10'>
      <p>Links</p>
    </div>
  </article>
  {% for project in list %}
    <article class='w-100 flex flex-row items-start ws-normal project-item bb pointer bw1' alt='{{ project.title }}' title='{{ project.title }}' >
      <div class='absolute w-100 h-100 top-0 left-0 project-image-container' data-index={{ forloop.index0 }}>
        {% assign images = project.images %}
        {% for image in images %}
        <div class='w-100 h-100 project-image absolute top-0 left-0' style='background-image: url({{project.permalink}}/{{image}}.jpg)' >
        </div>
      {% endfor %}
      </div>
      
      <!-- <img class='absolute top-0 left-0 project-image w-30' src='{{project.permalink}}/hero.jpg'/> -->
      <div class='w-40'>
        <p class='f1 fw5 ma0'>{{project.title}}</p>
      </div>
      <div class='w-20'>
        <p>{{project.description}}</p>
      </div>
      <div class='w-10'>
        <p>{{project.date | date:"%Y"}}</p>
      </div>
      <div class='w-10'>
        <p>{% for item in project.stack %}{{ item }}<br/> {% endfor %}</p>
      </div>
      <div class='w-10'>
        <p>{% for item in project.delivery %}{{ item }}<br/> {% endfor %}</p>
      </div>
      <div class='w-10'>
        <p>{% for item in project.links %}<a class='link green' target='_blank' href={{item}}>{{ item }}</a><br/> {% endfor %}</p>
      </div>
    </article>
    
  {% endfor %}
</div>