@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.georgia {
  font-family: 'Georgia', serif;
}

canvas {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

h1 {
  font-weight: 400;
}

p {
  font-weight: 400;
  font-size: 1rem;
  word-wrap: break-word;
}

.project-hero {
  height: calc(100vh - 1rem);
  min-height: 600px;
}

.mwImage {
  max-width: 38rem;
}

.project-title {
  width: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0rem;
}

.project-title h1 {
  transform: rotate(-90deg) translateZ(0);
  transform-origin: left center;
  width: 800px;
  left: 1.5rem;
  position: absolute;
  top: 805px;
}


