@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

a:focus {
  outline: 0 !important;
}

.georgia {
  font-family: 'Georgia', serif;
}

canvas {
  position: absolute;
  right: 0px;
  top: 2rem;
  z-index: -1;
  cursor: url('../images/cursor.png') 25 25, pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

.home {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

h1 {
  font-weight: 400;
}

p {
  font-weight: 400;
  word-wrap: break-word;
}

.project-hero, .projects-container {
  height: calc(100vh - 5rem);
  min-height: 600px;
}

.mwImage {
  max-width: 38rem;
}

.project-title {
  width: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0rem;
}

.project-title h1 {
  transform: rotate(-90deg) translateZ(0);
  transform-origin: left center;
  width: 800px;
  left: 1.5rem;
  position: absolute;
  top: 805px;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.page-exit {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.load-enter {
  opacity: 0;
}

.load-enter-active {
  opacity: 1;
  transition: opacity 400ms linear  800ms;
}

.load-exit {
  opacity: 1;
}

.load-exit-done {
  display: none;
}

.load-exit-active {
  opacity: 0;
  transition: opacity 400ms linear 800ms;
}

.loader-container {
  top: 3rem;
  left: 0rem;
  width: 100%;
  height: calc(100vh - 10rem);
  z-index: 100;
}

.loader {
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.loader:before {
  content: 'loadingloadingloading';
  position: absolute;
  font-size: 2rem;
  animation: animate 1s linear infinite;
  top: 20px;
  left: 0px;
}

.home-image {
  display: none;
}

@keyframes animate {
  0% {
    left: 0px;
  }
  100% {
    left: -111px;
  }
}

@media screen and (min-width: 60em) {
  .project-link.f1-l {
    font-size: 5rem;
  }
}


