---
  $baseurl: "{{ site.baseurl }}"
---

@import 'global'
// @import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap')

body
  font-family: 'Inter', sans-serif
  font-weight: 300
  // letter-spacing: -0.01rem

h1
  font-weight: 400

p
  font-weight: 400
  font-size: 1rem
  word-wrap: break-word

.contact-link
  display: block
  border-bottom: 2px solid #19a974
  cursor: pointer

.contact-link::before
  display: inline-block
  padding-right: 5px
  min-width: 64px
  margin-right: 5px
  border-right: 2px solid #19a974

#email::before
  content: 'Email'

#insta::before
  content: 'Insta'

#linkedin::before
  content: 'Linkedin'

#github::before
  content: 'Github'
ul
  list-style-type: none

li:before 
  content: '-'
  position: absolute
  margin-left: -2.2rem

.project-image-container
  opacity: 0
  display: none
  z-index: -1

.project-item:hover > .project-image-container
  opacity: 1
  display: block

.project-image
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  opacity: 0

.project-image[data-active]
  opacity: 1


  
  

// #grid
//   font-size: 0px
//   width: 2020px

// .box 
//   width: 38px
//   height: 45px
//   display: inline-block
//   // border: 1px solid black
//   position: absolute

// img
//   // transform: rotate(45deg)
//   position: absolute
//   max-width: 80px !important
//   width: 80px
//   left: -21px
//   bottom: 0px
//   pointer-events: none

// #selector
//   position: absolute
//   width: 20px
//   height: 20px
//   z-index: 100

// #selector[data-color= 'blue']
//   background-color: blue

// #selector[data-color= 'yellow']
//   background-color: yellow

// #selector[data-color= 'green']
//   background-color: green

