<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class='w-100 vh-100 bg-white relative bt bw2 b--green green'>
    <main class='flex flex-column vh-100 relative mv2 mh3' aria-label='Content'>
      <div class='flex flex-row justify-between mb4 mb7-ns'>
        <div class='w-70 mt2'>
          <div class=''> 
            <p class='mt0 mb3'>Rosalind Skinner</p>
            <div>Maker/creative/technologist/coder/</div>
            <div class='mv0 flex items-center'>software/hardware/physical interactions and stuff 👀</div>
          </div>
          <!-- <div class='mv6'>
            <ul class=''>
              <li>Maker/creative/technologist/coder/software/hardware/physical interactions and stuff.</li>
              <li class=' flex items-center'>Currently<strong class='f2 ph2'> 👀</strong>  to make some cool things.</li>
            </ul>
          </div> -->
      </div>
  </div>
    <div id='projects' class='projects-container relative pt3 mb4'>
      {% include projects.html %}
      
      </div>
      <!-- <div class='absolute w-100 h-100'> 
        <div id='selector' class=''></div>
      </div>
      <div id='grid'>
      </div> -->
      {{ content }}
      <div class='w-100 fixed bottom-0 right-0-ns mr3 mv2'>
        <div class='mw5 ba b--green bw1 mt2 fl fr-ns'>
          <div class='bb bw1 b--green'>
            Contact
          </div>
          <a class='link green contact-link' id='email' href='mailto:ros.skinner@gmail.com'>ros.skinner@gmail.com</a>
          <a class='link green contact-link' id='insta' href='https://www.instagram.com/ros_skinner/'>ros_skinner</a>
          <a class='link green contact-link' id='linkedin' href='https://au.linkedin.com/in/rosalind-skinner-6335219a'>Rosalind Skinner</a>
          <a class='link green contact-link bn' id='github' href='https://github.com/rosskinner'>rosskinner</a>
        </div>
      </div>
    </main>
    <script src="/assets/js/index.bundle.js"></script>
  </body>
</html>
